.navbar__container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #635d5502;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.274);
  background-color: #322b29;
  color: #f0efe6;
}

.navbar__container img {
  width: 6rem;
  margin: 1rem 0 1rem 2rem;
  cursor: pointer;
}

.logo__container {
  display: flex;
  align-items: center;
}
